#!/usr/bin/env python

import re
import subprocess
import sys

branchName = subprocess.check_output(["git", "rev-parse", "--abbrev-ref", "HEAD"]).strip()
itemsOfBranchName = branchName.split("/")[-1].split("-")

with open(sys.argv[1], "r+") as f:
    commit_message = f.read()
    f.seek(0, 0)
    try:
        f.write("{}-{} | {}".format(itemsOfBranchName[0], itemsOfBranchName[1], commit_message))
    except IndexError:
        f.write("{} | {}".format(branchName, commit_message))
